#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff!important;
}
.ant-layout-sider-zero-width-trigger {
  top: 11px!important;
  right: -44px!important;
  background: white!important;
  color: black!important;
}
.site-layout-background {
  background: #fff;
}